---
- name: Prepare
  hosts: all
  gather_facts: true
  become: true
  vars:
    foreman_repositories_version: "2.4"
    foreman_repositories_katello_version: "4.0"
  roles:
    - foreman_repositories
    - puppet_repositories
  post_tasks:
    - include_role:
        name: installer
      vars:
        foreman_installer_scenario: katello
        foreman_installer_package: foreman-installer-katello
        foreman_installer_options:
          - '--disable-system-checks'
