PyYAML
docker
rstcheck
cryptography<3.1; python_version < '3.6'
-r requirements.txt
pylint==2.6.0; python_version >= '3.6'
voluptuous==0.12.1 # from https://github.com/ansible/ansible/raw/devel/test/lib/ansible_test/_data/requirements/sanity.validate-modules.txt
yamllint
molecule[docker,lint]
ansible-lint<6
