---
- name: 'Enable foreman:el8 module'
  command: dnf module enable -y foreman:el8
  # can't use the `dnf` module for modules without a default stream
  # https://github.com/ansible/ansible/issues/56504
  # https://github.com/ansible/ansible/issues/64852
  args:
    warn: false
    creates: /etc/dnf/modules.d/foreman.module
  tags:
    - packages
  when:
    - foreman_repositories_version == "nightly" or foreman_repositories_version is version('3.2', '>=')

- name: 'Enable katello:el8 module'
  command: dnf module enable -y katello:el8
  # can't use the `dnf` module for modules without a default stream
  # https://github.com/ansible/ansible/issues/56504
  # https://github.com/ansible/ansible/issues/64852
  args:
    warn: false
    creates: /etc/dnf/modules.d/katello.module
  tags:
    - packages
  when:
    - foreman_repositories_katello_version is defined
    - foreman_repositories_katello_version == "nightly" or foreman_repositories_katello_version is version('4.4', '>=')

- name: 'Enable pki-core module'
  command: dnf module enable -y pki-core
  # can't use the `dnf` module for modules without a default stream
  # https://github.com/ansible/ansible/issues/56504
  # https://github.com/ansible/ansible/issues/64852
  args:
    warn: false
    creates: /etc/dnf/modules.d/pki-core.module
  tags:
    - packages
  when:
    - foreman_repositories_katello_version is defined
    - foreman_repositories_katello_version != "nightly"
    - foreman_repositories_katello_version is version('4.3', '<=')
