---
- name: Verify
  hosts: all
  gather_facts: false
  tasks:
    - name: Get version of postgres data directory
      slurp:
        path: /var/lib/pgsql/data/PG_VERSION
      register: pg_version

    - debug:
        msg: "{{ pg_version['content'] | b64decode }}"

    - name: Assure postgresql version is 12
      assert:
        that:
          - "'12' in pg_version['content'] | b64decode"
